@use "../abstracts/colors";

.main-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advice-container {
  background-color: colors.$dark-grayish;
  margin-inline: auto;
  width: clamp(24rem, 92vw, 38rem);
  margin-top: clamp(8.5rem, 30vw, 16rem);
  border-radius: clamp(0.8rem, 3vw, 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advice-id {
  margin-block: 3rem 1.5rem;
  color: colors.$neon-green;
  letter-spacing: 0.2rem;
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}

.advice-text {
  margin-inline: 2rem;

  .advice-text-inner {
    display: block;
    font-size: clamp(1.6rem, 6vw, 2rem);
    color: colors.$light-cyan;
    text-align: center;
  }
}

.pattern-divider {
  margin-block: 1rem 4rem;
  background: url("../images/pattern-divider-mobile.svg");
  height: 2rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 36rem) {
    background: none;
    background: url("../images/pattern-divider-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.dice-button {
  display: flex;
  margin-inline: auto;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  aspect-ratio: 1;
  background-color: colors.$neon-green;
  border-radius: 50%;
  border: none;
}

.dice {
  background: url("../images/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  aspect-ratio: 1;
  border: none;
}

.dice-button:hover {
  cursor: pointer;
  box-shadow: 0 0 3rem colors.$neon-green;
}
