// Primary colors

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

// Neutral colors

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

// Text colors

$text-base: $light-cyan;
$text-accent: $neon-green;
